    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
        color: #3f5d45;
        font-family: "Noto Sans TC", sans-serif;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    button {
        border: none;
        cursor: pointer;
        font-family: inherit;
    }
    /* ────────────────────────────────────────────── */
    
    .container {
        max-width: 940px;
        margin: 0 auto;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
    }
    
    .header h1 a {
        display: block;
        width: 220px;
        height: 40px;
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-all-dark.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .hamIcon {
        display: none;
    }
    
    .navbar {
        display: flex;
        align-items: center;
    }
    
    .navbar li+li {
        margin-left: 10px;
    }
    
    .navbar a {
        display: block;
        font-size: 16px;
        color: #3f5d45;
        padding: 10px 20px;
        margin-left: 10px;
        text-decoration: none;
    }
    
    .navbar a:hover {
        opacity: 0.7;
        transition: 0.2s;
    }
    
    .shopping-cart {
        display: none;
    }
    
    .banner {
        margin-bottom: 60px;
    }
    
    .content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    
    .menu {
        width: 32%;
        line-height: 35px;
        text-align: center;
    }
    
    .menu h3 {
        padding: 16px 0;
        font-size: 24px;
        color: #EAF0ED;
        background-color: #3f5d45;
    }
    
    .menu-list a {
        display: block;
        padding: 16px 0;
        font-size: 22px;
        color: #3f5d45;
        text-decoration: none;
        border-right: 1px #eaf0ed solid;
        border-left: 1px #eaf0ed solid;
        border-bottom: 1px #eaf0ed solid;
    }
    
    .menu-list .menu-active {
        background-color: #eaf0ed;
    }
    
    .menu-list :nth-child(n + 2):hover {
        background-color: rgba(234, 240, 237, 0.6);
        transition: 0.2s;
    }
    
    .product {
        width: 66%;
    }
    
    .product-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .product-item {
        width: 48%;
        border: 1px #eaf0ed solid;
        margin-bottom: 20px;
        position: relative;
    }
    
    .product-intro {
        display: flex;
        font-size: 19px;
        text-align: center;
    }
    
    .product-intro .name,
    .product-intro .price {
        width: 50%;
        padding: 20px 0;
    }
    
    .product-intro .name {
        font-weight: 300;
    }
    
    .product-intro .price {
        font-weight: 500;
        border-left: 1px #eaf0ed solid;
    }
    
    .add {
        width: 100%;
        color: #3f5d45;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        padding: 16px 0;
        background-color: #eaf0ed;
    }
    
    .add:hover {
        background-color: #3f5d45;
        color: #eaf0ed;
        transition: 0.2s;
    }
    
    .add:focus {
        outline: none;
    }
    
    .today-good {
        color: #fff;
        padding: 10px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 3px;
        writing-mode: vertical-lr;
        background-color: #3f5d45;
        position: absolute;
        top: 0;
        left: 20px;
    }
    
    .heart {
        position: absolute;
        top: 20px;
        right: 22px;
    }
    /* ─────────────────── page ───────────────────── */
    
    .page {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    
    .page-list {
        display: flex;
        font-size: 18px;
        font-weight: 300;
        background-color: #fff;
        border-top: 1px solid #eaf0ed;
        border-bottom: 1px solid #eaf0ed;
        border-right: 1px solid #eaf0ed;
    }
    
    .page a {
        width: 60px;
        height: 60px;
        color: #3f5d45;
        text-decoration: none;
        border-left: 1px solid #eaf0ed;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .page-list .page-active {
        color: #fff;
        background-color: #3f5d45;
    }
    
    .page-list :nth-child(n + 3):hover,
    .page-list :first-child :hover {
        background-color: #eaf0ed;
        transition: 0.2s;
    }
    /* ─────────────────── footer ───────────────────── */
    
    .subscribe {
        background-color: #3F5D45;
        color: #EAF0ED;
        padding: 30px 0;
    }
    
    .wrap {
        max-width: 780px;
        margin: 0 auto;
    }
    
    .space-between {
        display: flex;
        justify-content: space-between;
    }
    
    .sub-title {
        display: flex;
        align-items: center;
    }
    
    .sub-title h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        margin-left: 20px;
    }
    
    .sub-title img {
        width: 40px;
    }
    
    .sub-form {
        display: flex;
    }
    
    .sub-form input {
        border: none;
        max-width: 300px;
        padding: 15px 20px 15px 55px;
        box-sizing: border-box;
        background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true) no-repeat #EAF0ED 20px 50%;
    }
    
    .sub-form button {
        padding: 18px 22px;
        background-color: #FFE180;
    }
    
    .sub-form input:focus,
    .sub-form button:focus {
        outline: none;
    }
    
    .sub-form input:focus {
        background-color: rgb(234, 240, 237, .8);
    }
    
    .sub-form button:hover img {
        animation: run .6s infinite alternate linear;
    }
    
    @keyframes run {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(10px);
        }
    }
    
    .footer {
        padding: 30px 0;
        color: #3F5D45;
        background-color: #EAF0ED;
    }
    
    .fo-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .contact img {
        width: 172px;
    }
    
    .contact ul {
        line-height: 24px;
        letter-spacing: 1px;
    }
    
    .slogan {
        font-size: 22px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 5px;
        writing-mode: vertical-rl;
        font-family: 'Noto Serif TC', serif;
    }
    
    .slogan p {
        text-indent: 15px;
        white-space: nowrap;
    }
    
    .fo-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .social-web {
        display: flex;
    }
    
    .social-web img {
        width: 32px;
    }
    
    .social-web img:hover {
        transform: translateY(-4px);
        transition: .4s;
    }
    
    .social-web li+li {
        margin-left: 8px;
    }
    
    .fo-bottom p {
        font-weight: 300;
    }
    /* ─────────────────── RWD ───────────────────── */
    
    @media(max-width: 1024px) {
        .wrap {
            padding: 0 40px;
        }
    }
    
    @media(max-width: 768px) {
        .header {
            padding: 0 10%;
            box-sizing: border-box;
        }
        .header h1 a {
            background-size: 75%;
            background-position: center;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
        }
        .hamIcon,
        .shopping-cart {
            display: block;
        }
        .navbar {
            display: none;
        }
        .banner {
            margin-bottom: 0;
        }
        .content {
            flex-direction: column;
        }
        .menu,
        .product {
            width: 100%;
        }
        .menu-list {
            display: flex;
            flex-wrap: wrap;
        }
        .menu-list li {
            width: 50%;
        }
        .product {
            margin-top: 30px;
        }
        .product-list {
            justify-content: space-evenly;
        }
        .product-item {
            width: 38%;
            margin-bottom: 30px;
        }
        .page {
            justify-content: center;
        }
        .subscribe .wrap {
            flex-direction: column;
            align-items: center;
        }
        .sub-title {
            margin-bottom: 30px;
        }
        .slogan {
            display: none;
        }
        .contact img {
            margin-bottom: 40px;
        }
        .fo-bottom {
            flex-direction: column;
            align-items: flex-start;
        }
        .social-web {
            margin: 38px 0 24px;
        }
    }
    /* ↑ ipad */
    
    @media(max-width: 578px) {
        .menu-list li {
            width: 100%;
        }
        .product-item {
            width: 70%;
        }
        .product-pic img {
            width: 100%;
        }
    }
    /* ↑ iphone */