@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  color: #3f5d45;
  font-family: "Noto Sans TC", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* ─────────────────── container start ───────────────────*/
.container {
  max-width: 940px;
  margin: 0 auto;
}

/* ─────────────────── container end ───────────────────*/
/* ─────────────────── header start ───────────────────*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
}
.header .hamIcon {
  display: none;
}
.header .logo {
  display: block;
  width: 200px;
  height: 40px;
  background: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-all-dark.svg) no-repeat 100% center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.header .nav {
  display: flex;
  align-items: center;
}
.header .navbar {
  display: flex;
  align-items: center;
  max-height: 0px;
}
.header .navbar li {
  margin: 0 15px;
}
.header .navbar a {
  display: block;
  padding: 5px 15px;
  color: #3f5d45;
  text-decoration: none;
}
.header .navbar a:hover {
  background: linear-gradient(180deg, #fff 50%, #EAF0ED 50%);
}
.header .nav .shopping-cart {
  font-size: 18px;
  color: #3f5d45;
  padding: 10px 14px;
  margin-left: 20px;
  border-radius: 100%;
}
.header .nav .shopping-cart:hover {
  background-color: #EAF0ED;
}
.header .ham-active {
  max-height: 200px;
}

@media (max-width: 768px) {
  .header {
    padding: 30px 6%;
    box-sizing: border-box;
  }
  .header .hamIcon {
    display: block;
    padding: 10px 16px;
    border-radius: 100%;
    font-size: 18px;
    color: #3f5d45;
  }
  .header .hamIcon:hover {
    background-color: #EAF0ED;
  }
  .header .logo {
    background-size: 74%;
    background-position: center;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
  }
  .header .navbar {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    transition: 0.8s;
  }
  .header .navbar li {
    width: 100%;
  }
  .header .navbar li + li {
    border-top: 1px solid #EAF0ED;
  }
  .header .navbar a {
    display: block;
    padding: 15px 0;
  }
  .header .navbar a:hover {
    background: #EAF0ED;
    transition: 0.5s;
  }
  .header .navbar .ham-active {
    background-color: #fff;
    max-height: 200px;
  }
  .header .nav .shopping-cart {
    margin-left: 0;
  }
}
/* ─────────────────── header end ───────────────────*/
/* ─────────────────── footer start ───────────────────*/
.wrap {
  max-width: 780px;
  margin: 0 auto;
}

.subscribe {
  background-color: #3f5d45;
  color: #EAF0ED;
  padding: 30px 0;
}
.subscribe .space-between {
  display: flex;
  justify-content: space-between;
}
.subscribe-title {
  display: flex;
  align-items: center;
}
.subscribe-title h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-left: 20px;
  letter-spacing: 1px;
}
.subscribe-title img {
  width: 40px;
}
.subscribe-form {
  display: flex;
}
.subscribe-form input {
  border: none;
  max-width: 250px;
  padding: 13px 20px 13px 55px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  font-family: inherit;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true) no-repeat #EAF0ED 20px 50%;
}
.subscribe-form input:focus {
  background-color: #fff;
}
.subscribe-form button {
  padding: 22px 25px;
  background-color: #FFE180;
}
.subscribe-form button:hover i {
  animation: run 0.6s infinite alternate linear;
}
.subscribe-form button i {
  color: #3f5d45;
  font-size: 18px;
}
@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.subscribe-form input:focus,
.subscribe-form button:focus {
  outline: none;
}

.footer {
  padding: 30px 0;
  color: #3f5d45;
  background-color: #EAF0ED;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer-top .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-top .contact img {
  width: 172px;
}
.footer-top .contact ul {
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
}
.footer-top .slogan {
  font-size: 22px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 6px;
  writing-mode: vertical-rl;
  font-family: "Noto Serif TC", serif;
}
.footer-top .slogan p {
  text-indent: 12px;
  white-space: nowrap;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom p {
  font-weight: 300;
}
.footer-bottom .social-web {
  display: flex;
}
.footer-bottom .social-web img {
  width: 32px;
}
.footer-bottom .social-web img:hover {
  transform: translateY(-4px);
  transition: 0.4s;
}
.footer-bottom .social-web li + li {
  margin-left: 8px;
}

@media (max-width: 1024px) {
  .wrap {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .wrap {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-title {
    margin-bottom: 30px;
  }

  .slogan {
    display: none;
  }

  .contact img {
    margin-bottom: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-web {
    margin: 38px 0 24px;
  }
}
/* ─────────────────── footer end ───────────────────*/
/* ─────────────────── invoice_content start ───────────────────*/
.wrap-invoice {
  max-width: 780px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 60px;
  /* ------ invoice ------*/
  /* ------ order ------*/
}
.content .invoice {
  width: 57%;
}
.content .invoice-info {
  padding: 30px 40px;
  color: #EAF0ED;
  background-color: #3f5d45;
}
.content .invoice-info h2 {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .invoice-info h2 .step-icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.content .invoice-info h2 .step-icon i + i {
  margin-left: 60px;
}
.content .invoice-info h2 .step-icon i:first-child::after,
.content .invoice-info h2 .step-icon i:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #EAF0ED;
}
.content .invoice-info .invoice-sort {
  display: flex;
  font-size: 20px;
  margin: 30px 0;
  border: 1px solid #EAF0ED;
}
.content .invoice-info .invoice-sort label {
  width: 50%;
  text-align: center;
  display: block;
  padding: 15px 0;
  cursor: pointer;
  text-decoration: none;
  color: #EAF0ED;
}
.content .invoice-info .invoice-sort label:hover {
  background-color: rgba(234, 240, 237, 0.7);
  color: #3f5d45;
  transition: 0.4s;
}
.content .invoice-info .panel-control,
.content .invoice-info .elec,
.content .invoice-info .send {
  display: none;
}
.content .invoice-info #elec:checked ~ .invoice-sort [for=elec],
.content .invoice-info #send:checked ~ .invoice-sort [for=send] {
  background-color: #EAF0ED;
  color: #3f5d45;
}
.content .invoice-info #elec:checked ~ .elec,
.content .invoice-info #send:checked ~ .send {
  display: block;
}
.content .invoice-info .send {
  position: relative;
}
.content .invoice-info .invoice-form h4 {
  font-size: 20px;
  margin-bottom: 8px;
}
.content .invoice-info .invoice-form .address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .invoice-info .invoice-form .address label {
  font-size: 15px;
  font-weight: 300;
}
.content .invoice-info .invoice-form .address label input {
  margin-right: 6px;
}
.content .invoice-info .invoice-form input[type=text],
.content .invoice-info .invoice-form select {
  font-size: 16px;
  font-weight: 300;
  font-family: inherit;
  color: #3f5d45;
  border: none;
  padding: 17px 20px;
  box-sizing: border-box;
  background-color: #EAF0ED;
}
.content .invoice-info .invoice-form input[type=text]:focus,
.content .invoice-info .invoice-form select:focus {
  background-color: #fff;
}
.content .invoice-info .invoice-form input[type=text] {
  width: 100%;
}
.content .invoice-info .invoice-form select {
  width: 48%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.content .invoice-info .invoice-form .select-option {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.content .invoice-info .invoice-form .e-mail {
  margin-bottom: 16px;
}
.content .invoice-submit {
  width: 100%;
  padding: 20px 0;
  font-size: 22px;
  letter-spacing: 6px;
  color: #3f5d45;
  background-color: #FFE180;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content .invoice-submit i {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}
.content .invoice-submit:hover i {
  opacity: 1;
  transform: translateX(40%);
  animation: quickly 0.3s infinite alternate linear;
  animation-delay: 0.6s;
  transition: 0.7s;
}
.content .invoice-submit:hover span {
  letter-spacing: 1px;
  transition: 0.7s;
}
@keyframes quickly {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(35%);
  }
}
.content .invoice button,
.content .invoice input {
  outline: none;
}
.content .order {
  width: 40%;
  color: #8DA291;
}
.content .order-list {
  margin-bottom: 20px;
  border: 1px solid #EAF0ED;
}
.content .order-list h3 {
  padding: 16px 0;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #EAF0ED;
}
.content .order-list .order-price,
.content .order-list .order-item {
  padding: 16px 20px;
}
.content .order-list .order-price {
  font-weight: 300;
}
.content .order-list .order-price li {
  display: flex;
  justify-content: space-between;
}
.content .order-list .order-price li:first-child {
  margin-bottom: 8px;
}
.content .order-list .order-price .total {
  margin-top: 16px;
  font-weight: 500;
  font-size: 20px;
}
.content .order-list .order-item li {
  display: flex;
  align-items: center;
}
.content .order-list .order-item li .pic {
  width: 50%;
  margin-right: 20px;
}
.content .order-list .order-item li .pic img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}
.content .order-list .order-item li .intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.content .order-list .order-item li .intro span {
  font-size: 20px;
  font-weight: 500;
}
.content .order-list .order-item li + li {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .content {
    margin: 0;
  }
  .content .invoice {
    width: 100%;
  }
  .content .order {
    display: none;
  }
}
/* ─────────────────── invoice_content end ───────────────────*/