/* ─────────────────── invoice_content start ───────────────────*/

.content-inner {
    max-width: 780px;
    margin: 30px auto 45px;
}


/* ------ invoice ------*/

.invoice {
    width: 57%;
}

.invoice-info {
    padding: 30px 40px;
    color: $color-secondary;
    background-color: $color-primary;
    h2 {
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .panel-control,
    .elec,
    .send {
        display: none;
    }
    #elec:checked~.invoice-sort [for="elec"],
    #send:checked~.invoice-sort [for="send"] {
        background-color: $color-secondary;
        color: $color-primary;
    }
    #elec:checked~.elec,
    #send:checked~.send {
        display: block;
    }
    .send {
        position: relative;
    }
    .address {
        position: absolute;
        top: 2px;
        right: 0;
        label {
            font-size: 15px;
            font-weight: 300;
            input {
                margin-right: 6px;
            }
        }
    }
}

.step-icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    i+i {
        margin-left: 60px;
    }
    i:first-child::after,
    i:nth-child(2)::after {
        position: absolute;
        content: '';
        width: 60px;
        height: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $color-secondary;
    }
}

.invoice-sort {
    display: flex;
    font-size: 20px;
    margin: 30px 0;
    border: 1px solid $color-secondary;
    label {
        width: 50%;
        text-align: center;
        display: block;
        padding: 15px 0;
        cursor: pointer;
        text-decoration: none;
        color: $color-secondary;
        &:hover {
            background-color: rgb(234, 240, 237, .7);
            color: $color-primary;
            transition: .4s;
        }
    }
}

.invoice-form {
    label {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 8px;
    }
    input[type="tel"],
    input[type="email"],
    select {
        font-size: 16px;
        font-weight: 300;
        font-family: inherit;
        color: $color-primary;
        border: none;
        padding: 17px 20px;
        box-sizing: border-box;
        background-color: $color-secondary;
        &:focus {
            background-color: #fff;
        }
    }
    input[type="tel"],
    input[type="email"] {
        width: 100%;
    }
    select {
        width: 48%;
        appearance: none;
        &:focus {
            outline: none;
        }
    }
}

.select-option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.e-mail {
    margin-bottom: 16px;
}

.invoice-submit {
    width: 100%;
    padding: 20px 0;
    font-size: 22px;
    letter-spacing: 6px;
    text-decoration: none;
    color: $color-primary;
    background-color: $color-highlight;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    i {
        position: absolute;
        left: 50%;
        right: 61px;
        opacity: 0;
    }
    &:hover i {
        opacity: 1;
        transform: translateX(100%);
        animation: quickly .3s infinite alternate linear;
        animation-delay: .5s;
        transition: .6s;
    }
    &:hover span {
        letter-spacing: 1px;
        transition: .6s;
    }
    @keyframes quickly {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(85%);
        }
    }
}

input:focus {
    outline: none;
}


/* ------ order ------*/

.order {
    width: 40%;
    color: $color-tertiary;
}

.order-list {
    margin-bottom: 20px;
    border: 1px solid $color-secondary;
    h3 {
        padding: 16px 0;
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
        background-color: $color-secondary;
    }
}

.order-price,
.order-item {
    padding: 16px 20px;
}

.order-price {
    font-weight: 300;
    li {
        display: flex;
        justify-content: space-between;
        &:first-child {
            margin-bottom: 8px;
        }
    }
    .total {
        margin-top: 16px;
        font-weight: 500;
        font-size: 20px;
    }
}

.order-item {
    li {
        display: flex;
        align-items: center;
        .pic {
            width: 50%;
            img {
                width: 100%;
                height: 80px;
                object-fit: cover;
            }
            margin-right: 20px;
        }
        .intro {
            width: 50%;
            font-weight: 300;
            span {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
    li+li {
        margin-top: 16px;
    }
}

@include pad {
    .content-inner {
        margin: 0;
    }
    .invoice {
        width: 100%;
    }
    .order {
        display: none;
    }
}


/* ─────────────────── invoice_content end ───────────────────*/