    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    button {
        border: none;
        cursor: pointer;
        font-family: inherit;
    }
    /* ─────────────────── container start ───────────────────*/
    
    .container {
        max-width: 940px;
        margin: 0 auto;
    }
    /* ─────────────────── container end ───────────────────*/
    /* ─────────────────── header start ───────────────────*/
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        position: relative;
        .hamIcon {
            display: none;
        }
        .logo {
            display: block;
            width: 220px;
            height: 40px;
            background: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-all-dark.svg) no-repeat center center / contain;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
        }
        .nav {
            display: flex;
            align-items: center;
            &bar {
                display: flex;
                align-items: center;
                max-height: 0px;
                li {
                    margin: 0 15px;
                }
                a {
                    display: block;
                    padding: 5px 15px;
                    color: $color-primary;
                    text-decoration: none;
                    &:hover {
                        background: linear-gradient(180deg, #fff 50%, $color-secondary 50%);
                    }
                }
            }
            .shopping-cart {
                font-size: 18px;
                color: $color-primary;
                padding: 10px 14px;
                margin-left: 20px;
                border-radius: 100%;
                &:hover {
                    background-color: $color-secondary;
                }
            }
        }
        .ham-active {
            max-height: 200px;
        }
    }
    
    @include pad {
        .header {
            padding: 30px 6%;
            box-sizing: border-box;
            .hamIcon {
                display: block;
                padding: 10px 16px;
                border-radius: 100%;
                font-size: 18px;
                color: $color-primary;
                &:hover {
                    background-color: $color-secondary;
                }
            }
            .logo {
                background-size: 74%;
                background-position: center;
                background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
            }
            .nav {
                &bar {
                    flex-direction: column;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    text-align: center;
                    background-color: #fff;
                    z-index: 1; //防止在 invoice 頁面被 .step-icon 遮到
                    transition: .8s;
                    li {
                        width: 100%;
                    }
                    li+li {
                        border-top: 1px solid $color-secondary;
                    }
                    a {
                        display: block;
                        padding: 15px 0;
                        &:hover {
                            background: $color-secondary;
                            transition: .5s;
                        }
                    }
                    .ham-active {
                        background-color: #fff;
                        max-height: 200px;
                    }
                }
                .shopping-cart {
                    margin-left: 0;
                }
            }
        }
    }
    /* ─────────────────── header end ───────────────────*/
    /* ─────────────────── footer start ───────────────────*/
    
    .wrap {
        max-width: 780px;
        margin: 0 auto;
    }
    
    .subscribe {
        background-color: $color-primary;
        color: $color-secondary;
        padding: 30px 0;
        .space-between {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            display: flex;
            align-items: center;
            h3 {
                font-size: 24px;
                font-weight: 300;
                line-height: 30px;
                margin-left: 20px;
                letter-spacing: 1px;
            }
            img {
                width: 40px;
            }
        }
        &-form {
            display: flex;
            input {
                border: none;
                max-width: 250px;
                padding: 13px 20px 13px 55px;
                box-sizing: border-box;
                font-size: 15px;
                font-weight: 300;
                font-family: inherit;
                background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true) no-repeat $color-secondary 20px 50%;
                &:focus {
                    background-color: #fff;
                }
            }
            button {
                padding: 22px 25px;
                background-color: $color-highlight;
                &:hover i {
                    animation: run .6s infinite alternate linear;
                }
                i {
                    color: $color-primary;
                    font-size: 18px;
                }
            }
            @keyframes run {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(10px);
                }
            }
            input:focus,
            button:focus {
                outline: none;
            }
        }
    }
    
    .footer {
        padding: 30px 0;
        color: $color-primary;
        background-color: $color-secondary;
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .contact {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    width: 172px;
                }
                ul {
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 1px;
                }
            }
            .slogan {
                font-size: 22px;
                font-weight: 900;
                line-height: 40px;
                letter-spacing: 6px;
                writing-mode: vertical-rl;
                font-family: 'Noto Serif TC', serif;
                p {
                    text-indent: 12px;
                    white-space: nowrap;
                }
            }
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-weight: 300;
            }
            .social-web {
                display: flex;
                img {
                    width: 32px;
                    &:hover {
                        transform: translateY(-4px);
                        transition: .4s;
                    }
                }
                li+li {
                    margin-left: 8px;
                }
            }
        }
    }
    
    @include computer {
        .wrap {
            padding: 0 40px;
        }
    }
    
    @include pad {
        .wrap {
            flex-direction: column;
            align-items: center;
        }
        .subscribe-title {
            margin-bottom: 30px;
        }
        .slogan {
            display: none;
        }
        .contact img {
            margin-bottom: 40px;
        }
        .footer-bottom {
            flex-direction: column;
            align-items: flex-start;
        }
        .social-web {
            margin: 38px 0 24px;
        }
    }
    /* ─────────────────── footer end ───────────────────*/